

.container{
    width: 100%;   
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;


}

.box{
   
    background-color: #3a4452;
    border: 2px solid black;
}
.box form input{
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 0.1px solid ;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
form .display{
    display: flex;
    justify-content: flex-end;

}

form .display input{
    flex: 1;
    text-align: right;
  
    }

#equal{
   width: 120px;
}